# ========================
__pycache__/
*.pyc
venv/
.venv/
# Env files
.env
# ========================
node_modules/
dist/
build/
# ========================
backend/analysis_outputs/
# ========================
.vscode/
.DS_Store
Thumbs.db